@model PVE.Models.PveTestData

@{
    ViewData["Title"] = "详情";
}

<h1>VIN:@ViewData[Constants.ViewDataVIN]</h1>

<div>
    <h4>PVE测试清单</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PveData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PveData.SerialNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginMan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeMan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L19011)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L19011)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"
       asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]">编辑</a> |
    <a asp-action="Index">Back to List</a>
</div>
