@model IEnumerable<PVE.Models.ErrorCode>

@{
    ViewData["Title"] = "演示故障码";
}

<h1>演示故障码</h1>
<div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">VIN:{@ViewData[Constants.ViewDataVIN]}</div>
            <div class="card-body">
                <p>
                    <a asp-action="Create" asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]"
                       class="btn btn-warning">新增</a>
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>名称</th>
                                <th>编码</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if ((await AuthorizationService.AuthorizeAsync(
                                          User, item, PveDataOperations.Update)).Succeeded)
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.ID"
                                               asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]">
                                                编辑
                                            </a>
                                            <text> | </text>
                                            <a asp-action="Delete" asp-route-id="@item.ID"
                                               asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]">删除</a>
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.ID"
                                           asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]" target="_blank">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
