@model IEnumerable<PVE.Models.J2TestData>

@{
    ViewData["Title"] = "J2测试清单";
}

<h1>J2测试清单</h1>
<div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">VIN:{@ViewData[Constants.ViewDataVIN]}</div>
            <div class="card-body">
                <p>
                    <a asp-action="Create" asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]"
                       class="btn btn-warning">新增</a>
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TestGroup)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PveData.VehicleType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PveData.VIN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActualTestDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoftVersion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SABVersion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Remark)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @if ((await AuthorizationService.AuthorizeAsync(
                                      User, item, PveDataOperations.Update)).Succeeded)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.ID"
                                           asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.ID"
                                           asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.ID"
                                       asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]"
                                       target="_blank">@Html.DisplayFor(modelItem => item.GroupName)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TestGroup)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.PveData.VehicleType)</td>
                                <td>
                                    <a asp-controller="PveDatas" asp-action="Details" asp-route-id="@item.ID"
                                       asp-route-foreignKey="@ViewData[Constants.ViewDataPveDataId]"
                                       target="_blank">@Html.DisplayFor(modelItem => item.PveData.VIN)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualTestDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoftVersion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SABVersion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



