@model PVE.Models.PveData

@{
    ViewData["Title"] = "详情";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                附件
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data"
                      asp-controller="PveDatas" asp-action="FileUpload" 
                      asp-route-id="@Model.ID" asp-route-vin="@Model.VIN">
                    <div class="input-group">
                        <div class="custom-file">
                            <input onchange="showFilename(this.files)" type="file" name="files" multiple class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" lang="zh">
                            <label id="filename_label" class="custom-file-label" for="inputGroupFile04">选择文件</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">上传</button>
                        </div>
                    </div>
                </form>
                <div class="clearfix" style="margin-bottom: 10px;"></div><!-- 清除浮动 -->
                @if (ViewBag.Files != null)
                {
                    @foreach (var file in ViewBag.Files)
                    {
                        <a class="card-link" asp-action="FileDownload" asp-route-vin="@Model.VIN"
                           asp-route-fileName="@file">@file</a>
                    }
                }

            </div>
        </div>
    </div>
</div>

<div class="clearfix" style="margin-bottom: 10px;"></div> <!--清除浮动-->

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.SerialNum)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SerialNum)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Producer)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Producer)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VehicleType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VehicleType)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OBD)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OBD)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BOB)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BOB)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ReleaseDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ReleaseDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VehicleNum)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VehicleNum)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VIN)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VIN)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TestContent)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TestContent)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProgressJ1)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProgressJ1)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProgressJ2D)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProgressJ2D)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProgressJ2Z)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProgressJ2Z)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProgressJ2W)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProgressJ2W)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProgressJ2H)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProgressJ2H)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProgressJ2S)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProgressJ2S)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProgressJ3)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProgressJ3)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ContactCustomer)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ContactCustomer)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ContactMarket)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ContactMarket)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ContactCATAC)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ContactCATAC)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Period)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Period)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ContractType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ContractType)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Agreement)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Agreement)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProjectBid)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProjectBid)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FeeJ1)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FeeJ1)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FeeJ2)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FeeJ2)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FeeJ3)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FeeJ3)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TaskForm)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TaskForm)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ReportDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ReportDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ReturnDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ReturnDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FeeStatus)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FeeStatus)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProjectStatus)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProjectStatus)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Remark)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Remark)
    </dd>
</dl>

<div class="row">
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<!-- 显示文件名 -->
<script>
    function showFilename(files) {
        if (files.length) {
            var names = "";
            for (var i = 0; i < files.length; i++) {
                if (names.length == 0)
                    names += files[i].name;
                else
                    names += "," + files[i].name;
            }
            $("#filename_label").html(names);
        }

    }
</script>